<nav>
	<h1>{{ip}}</h1>
	<a class="active" href="./">GameSS</a>
	<a href="./standings">Standings</a>
</nav>

{{#if photo}}

	<img src="photos/{{photo.name}}" width="530" height="420" alt="Cat Picture" />

	<div class="button-holder">
		<form action="./cute" method="post">
			<input type="hidden" name="photo" value="{{photo.name}}" />
			<input type="submit" value="Cute!" />
		</form>
		<form action="./notcute" method="post">
			<input type="hidden" name="photo" value="{{photo.name}}" />
			<input type="submit" value="Not Cute!" />
		</form>
	</div>

{{else}}

	<h3>No more photos to vote on! Check out the <a href="./standings">standings</a>.</h3>

{{/if}}